.option {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 40px;
  padding: 6px 12px;
  color: #000000;
  white-space: nowrap;
}

.lineLeft {
  width: 310px;
  height: 40px;

  border-bottom: 2px solid #000000;
}

.lineRight {
  width: 70%;
  height: 40px;

  border-bottom: 2px solid #000000;
}
